body {
  margin: 0;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

canvas {
  background: #111;
  margin-top: 10px;
}

.controls {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

button {
  font-size: 24px;
  padding: 15px;
  border-radius: 10px;
  border: none;
}